In [2]:
import warnings
warnings.simplefilter('ignore')

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [11]:
url = "resources/olg_solar_weather.csv"
fiveaxis = pd.read_csv(url)
fiveaxis = fiveaxis.fillna(0)
fiveaxis.head()

,Unnamed: 0,date_time,power_delivered,energy_delivered,cumulative_energy,weather_description,clouds_all,temp_f,rain_1h,snow_1h
0,0,2019-04-21 12:00:00,14892,3723,8576,light rain,1,52.718,0,0
1,1,2019-04-21 13:00:00,17908,4477,22937,proximity shower rain,90,52.196,1,0
2,2,2019-04-21 14:00:00,18784,4696,41582,moderate rain,75,53.474,1,0
3,3,2019-04-21 15:00:00,17464,4366,59588,light rain,40,56.768,0,0
4,4,2019-04-21 16:00:00,14720,3680,75476,broken clouds,75,61.466,0,0

In [12]:
col = list(fiveaxis.columns)
# print(col)

In [13]:
print(col)

['Unnamed: 0', 'date_time', 'power_delivered', 'energy_delivered', 'cumulative_energy', 'weather_description', 'clouds_all', 'temp_f', 'rain_1h', 'snow_1h']

In [17]:
col = ['power_delivered', 'energy_delivered', 'cumulative_energy', 'clouds_all', 'temp_f', 'rain_1h', 'snow_1h']

In [18]:
fiveaxis.describe()

,Unnamed: 0,power_delivered,energy_delivered,cumulative_energy,clouds_all,temp_f,rain_1h,snow_1h
count,3227.000000,3227.000000,3227.000000,3.227000e+03,3227.000000,3227.000000,3227.000000,3227.0
mean,1613.000000,5184.870158,1296.217540,8.207165e+06,42.156492,64.858291,0.160521,0.0
std,931.698986,7006.035109,1751.508777,4.952200e+06,36.925471,11.539728,0.549714,0.0
min,0.000000,0.000000,0.000000,8.576000e+03,0.000000,32.756000,0.000000,0.0
25%,806.500000,0.000000,0.000000,3.641492e+06,1.000000,57.614000,0.000000,0.0
50%,1613.000000,1024.000000,256.000000,8.177895e+06,40.000000,66.110000,0.000000,0.0
75%,2419.500000,8950.000000,2237.500000,1.243035e+07,75.000000,72.680000,0.000000,0.0
max,3226.000000,22292.000000,5573.000000,1.678956e+07,100.000000,92.138000,3.000000,0.0

In [19]:
j = 0
relationships = []
for i in col:
    current = i
#     newlist = col
    newlist = list(filter(lambda x: x != i, col))
#     print(current)
#     print(newlist)
#     print(j)
    j = j + 1
    X = fiveaxis[newlist]
    y = fiveaxis[current].values.reshape(-1,1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    X_scaler = StandardScaler().fit(X_train)
    y_scaler = StandardScaler().fit(y_train)
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    y_train_scaled = y_scaler.transform(y_train)
    y_test_scaled = y_scaler.transform(y_test)
    model = LinearRegression()
    model.fit(X_train_scaled, y_train_scaled)
    predictions = model.predict(X_test_scaled)
    MSE = mean_squared_error(y_test_scaled, predictions)
    r2 = model.score(X_test_scaled, y_test_scaled)
    if MSE != 0 and r2 != 1.0:
      if MSE <= .1 and r2 >= .85:
        relationships.append(current)
    print(f"{current}, MSE: {MSE}, R2: {r2}")

power_delivered, MSE: 8.018169639743063e-30, R2: 1.0
energy_delivered, MSE: 8.018169639743063e-30, R2: 1.0
cumulative_energy, MSE: 0.8153198842415921, R2: 0.29476127371540184
clouds_all, MSE: 0.9095289128841186, R2: 0.10985117748726447
temp_f, MSE: 0.7863970142336304, R2: 0.2989248002371676
rain_1h, MSE: 0.8645267669849734, R2: 0.09265885012084785
snow_1h, MSE: 0.0, R2: 1.0

In [20]:
print(relationships)

[]

In [10]:
j = 0
final = []
for i in relationships:
    current = i
#     newlist = col
    newlist = list(filter(lambda x: x != i, relationships))
#     print(current)
#     print(newlist)
#     print(j)
    j = j + 1
    X = fiveaxis[newlist]
    y = fiveaxis[current].values.reshape(-1,1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    X_scaler = StandardScaler().fit(X_train)
    y_scaler = StandardScaler().fit(y_train)
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    y_train_scaled = y_scaler.transform(y_train)
    y_test_scaled = y_scaler.transform(y_test)
    model = LinearRegression()
    model.fit(X_train_scaled, y_train_scaled)
    predictions = model.predict(X_test_scaled)
    MSE = mean_squared_error(y_test_scaled, predictions)
    r2 = model.score(X_test_scaled, y_test_scaled)
    if MSE != 0 and r2 != 1.0:
      if MSE <= .1 and r2 >= .85:
        final.append(current)
    print(f"{current}, MSE: {MSE}, R2: {r2}")
print(final)

power_delivered, MSE: 6.969392594757359e-07, R2: 0.9999992880600752
energy_delivered, MSE: 6.969237207739401e-07, R2: 0.9999992881770877
['power_delivered', 'energy_delivered']